body{
	background-image:url(image/back.jpg);
	z-index: -1
}

.a{
	font-family: 微軟正黑體;
	color: #ffa500;
	text-align: center;
	float: right;
	width: 150px;
	height: 120px;
	font-size: 28px;
	font-weight: bold;
}
.loge{
	float: left;
	width: 800px;
	height: 100px;
	z-index: -1
}
.pt1{
    width: 28%;
    margin-left:5%;
    margin-top:5%;


}
.b{
	font-family: 微軟正黑體;
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	left: 45%;
	top: 65px;
}
.b1{
	font-family: 標楷體;
	font-size: 28px;
	font-weight: bold;
	left:35%;
	top:150px;
	position: absolute;
}
.b2{
	font-family: 標楷體;
	font-size: 28px;
	font-weight: bold;
	left:35%;
	top:250px;
	position: absolute;
}
.b3{
	font-family: 標楷體;
	font-size: 28px;
	font-weight: bold;
	left:35%;
	top:350px;
	position: absolute;
}
.b4{
	font-family: 標楷體;
	font-size: 28px;
	font-weight: bold;
	left:35%;
	top:450px;
	position: absolute;
}

.c{
	font-family: 微軟正黑體;
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	left: 45%;
	top: 510px;

}
.c1{
	font-family: 標楷體;
	font-size: 32px;
	font-weight: bold;
	
}
.c2{
	font-family: 標楷體;
	font-size: 28px;
	font-weight: bold;
	
}
.c3{
	font-family: 標楷體;
	font-size: 32px;
	font-weight: bold;
}
.d{
	font-family: 微軟正黑體;
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	left: 45%;
	top: 960px;
}
.d1{
	font-family: 標楷體;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	left: 8%;
	top: 1130px;
}
.d2{
	font-family: 標楷體;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	left: 32%;
	top:1130px;
}

.d3{
	font-family: 標楷體;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	left: 56%;
	top:1130px;
}

.d4{
	font-family: 標楷體;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	left: 80%;
	top:1130px;
}
.e{
	font-family: 微軟正黑體;
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	left: 45%;
	top: 1380px;
}
.e1{
	font-family: 標楷體;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	left: 5%;
	right: 5%;
	top: 1440px;
	text-align: center;
}
.f{
	font-family: 微軟正黑體;
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	left: 45%;
	top: 1580px;
}
.pt5{
	width:300px;
	height: 400px;
	left: 120px;
	position: absolute;
	top: 1700px;
    z-index: -1;
}
.pt6{
	width:300px;
	height: 400px;
	left: 480px;
	position: absolute;
	top: 1700px;
    z-index: -1;
}
.pt7
{
	width:450px;
	height: 400px;
	left: 840px;
	position: absolute;
	top: 1700px;
    z-index: -1;
}
.pt11{
	width:100px;
	height: 100px;
	left: 71%;
	position: absolute;
	top: 735px;
    
}
.g{
	font-family: 標楷體;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 72%;
	top: 545px;
}
.g1{
    font-family: 標楷體;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 72%;
	top: 605px;
}
.g2{
	font-family: 標楷體;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 72%;
	top: 665px;
}
.g3{
	font-family: 標楷體;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 72%;
	top: 725px;
}
.g4{
	font-family: 標楷體;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 72%;
	top: 725px;
}
.pt12{
	width:100px;
	height: 100px;
	left: 84%;
	position: absolute;
	top: 725px;
    
}
.pt8{
	width:450px;
	height: 400px;
	left: 80px;
	position: absolute;
	top: 2150px;
  
}
.pt9{
	width:450px;
	height: 400px;
	left: 580px;
	position: absolute;
	top: 2150px;
    
}
.pt10{
	width:450px;
	height: 400px;
	left: 1080px;
	position: absolute;
	top: 2150px;
}
.j{
	top: 2550px;
	left: 45%;
	position: absolute;
	background-color: #ffffe0;
}